body {
  font-family: sans-serif;
  color: white !important;
}
.form-container {
  margin-bottom: 20px;
  border: 1px solid #495057;
  padding: 20px;
  border-radius: 8px;
  background-color: #212529;
}
textarea {
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
  background-color: #495057;
  color: #f8f9fa;
  border: 1px solid #6c757d;
}
.result-group {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 8px;
  border: 1px solid #6c757d;
  border-radius: 5px;
  background-color: #495057;
}
.result-text {
  flex-grow: 1; /* Permite que el texto ocupe el espacio disponible */
  margin-right: 10px;
  word-break: break-all; /* Para que el texto largo se rompa y no desborde */
  color: #f8f9fa;
}
.copy-btn {
  background: none;
  border: none;
  color: #007bff; /* Color de Bootstrap primary */
  cursor: pointer;
  font-size: 1.2em;
}
.copy-btn:hover {
  color: #0056b3; /* Color más oscuro al pasar el ratón */
}
